triplog-frontend/src/components/MapView OO.jsx
triplog-frontend/src/components/TripForm OO.jsx
triplog-frontend/src/components/temp.jsx
triplog-frontend/src/components/Temp1.jsx
triplog-frontend/src/context
triplog/trips/temp.py
triplog/backup.dump
triplog/triplog/__pycache__
triplog/trips/__pycache__
